*,
*:after,
*:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

body {
  margin: 0;
  font-family: monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body--dark {
  background: #000;
  color: #c2c2c2;
}

header {
  padding: 8px;
}

main {
  padding: 8px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

.cmd {
  flex-grow: 1;
}

.cmd__prompt {
  margin-right: 4px;
}

.cmd__cursor {
  background: #c2c2c2;
}

.cmd__cursor--inverted {
  background: none;
}

.cmd__input {
  position: absolute;
  opacity: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
}

li.level {
  color: rgb(100, 100, 255);
}

li.item {
  color: rgb(59, 184, 184);
}

code {
  color: rgb(188, 214, 91);
}

footer {
  padding: 8px;
  color: #888888;
}
